---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="联系方式">
  <article class="prose mx-auto py-28">
    <h1>联系方式</h1>

    <p>
      为了防止爬虫找到我们的联系方式，我们借助赛博门神 Cloudflare 实现了面对爬虫时我们的联系方式会被 mask
      掉。想不到吧小爬虫们～
    </p>

    <blockquote>
      所以如果你看到的也是乱码，换个好点的有独立互联网地址的代理吧。或是关掉吧，Cloudflare 又没被墙。
    </blockquote>

    <p>
      <span>我们主要提供一个方式联系我们，便是我们工作室的电邮地址</span>
      <i>其实你直接联系小羊也一样的</i>
    </p>

    <address>alphabot@smartsheep.studio</address>

    <p>そうなんです～ 当スタジオのメールアドレスは、 「アルファボット」のものです☆～</p>

    <p>上記は当社のメールアドレスですので、ご協力、またはカスタマーサービスサポートを受けることを歓迎します。</p>
  </article>
</PageLayout>
