---
import PageLayout from "../../layouts/PageLayout.astro";
---

<PageLayout title="关于我们">
  <article class="prose mx-auto py-28">
    <h1>关于我们</h1>

    <p>我们是一个名义上的工作室，实质上就是个人自娱自乐的名号罢了。我们可以用一段代码来介绍我们。</p>

    <pre>console.log(undefined)</pre>

    <p>按下 F12，把这段代码复制到你的控制台，这便是我们的所有信息了。</p>

    <h2>关于语言</h2>

    <p>
      不过我们可以补充一点，关于语言的使用问题。由于我们的 Founder 也是我们唯一的成员是土生土长的华人，所以我们根据 50%
      原则，汉语变成为我们的母语。而跟着国际化的目标，我们的第二母语便不变的成为英语。
    </p>

    <p>
      目前，除了我们 Capital 官网项目，其他的产品皆根据我们国际化原则初版使用英语。在未来增加其他多语言的支持，并且
      Simplified Chinese 简体中文为我们本地化清单上的第一项。
    </p>

    <h2>成员列表</h2>

    <div role="alert" class="alert alert-error">
      <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      <div>
        <span>Record Not Found</span> <br>
        <i class="opacity-80">This is a feature, not a bug.</i>
      </div>
    </div>
  </article>
</PageLayout>
