---
import PageLayout from "../../layouts/PageLayout.astro";

const updatedAt = new Date("2024-02-15T07:37:11.631Z");
---

<PageLayout title="Goatworks Community Guidelines">
  <article class="prose mx-auto py-28">
    <h1>Goatworks Community Guidelines</h1>

    <p>Last Updated: {updatedAt.toLocaleString()}</p>

    <p>
      Welcome to our community! We are committed to fostering an open, friendly, and respectful environment to
      facilitate meaningful communication and shared experiences. Please adhere to the following community guidelines to
      ensure that every member can enjoy a positive and enriching community experience.
    </p>

    <h2>1. Respect Others</h2>
    <p>
      Ensure that your words and actions respect fellow community members. Avoid the use of insulting, discriminatory,
      or offensive language. Respect others' viewpoints, even if you disagree. Engage in discussions constructively to
      foster understanding and knowledge sharing.
    </p>

    <h2>2. Maintain Friendliness and Inclusivity</h2>
    <p>
      We welcome members from diverse cultures, backgrounds, and perspectives. Ensure that your interactions are
      friendly and inclusive. Refrain from posting offensive or discriminatory content. Help us create an environment
      that accommodates a variety of opinions and ideas.
    </p>

    <h2>3. Respect Privacy</h2>
    <p>
      Respect the privacy of other members. Avoid sharing others' personal information without their consent. If you
      need to share information related to others, ensure you have obtained their permission.
    </p>

    <h2>4. Inappropriate Content and Behavior</h2>
    <p>
      Refrain from posting any illegal, obscene, threatening, or otherwise inappropriate content. This includes but is
      not limited to explicit material, hate speech, false information, or any behavior that violates laws and ethical
      standards.
    </p>

    <h2>5. Provide Valuable Contributions</h2>
    <p>
      Share meaningful and valuable content within the community. Avoid posting unrelated or repetitive information.
      Maintain the quality of discussions and provide helpful insights and experiences for other members.
    </p>

    <h2>6. Respect Administrators and Moderators</h2>
    <p>
      Follow the guidance and rules provided by administrators and moderators. Their goal is to maintain community order
      and ensure a pleasant experience for every member. If you have any questions or concerns, feel free to contact
      them privately.
    </p>

    <h2>7. Respect Diverse Political Views</h2>
    <p>
      We encourage the respectful sharing of diverse political views. However, express your opinions in a way that
      respects others, avoiding offensive, provocative, or insulting language. Political discussions should be conducted
      constructively to promote understanding and information sharing.
    </p>

    <h2>8. Adhere to International Political Standards</h2>
    <p>
      Our community consists of members from around the world with different political beliefs. Understand and respect
      international political viewpoints, avoiding conflicts arising from political stances. Keep an open mind and be
      willing to listen and learn from diverse cultural and national perspectives.
    </p>

    <h2>9. Comply with Legal Regulations</h2>
    <p>
      Any form of illegal behavior is unacceptable in our community. Ensure that your words and actions comply with
      local and international laws, especially in matters related to politics. Prohibitions include incitement,
      advocating violence, or any other unlawful activities.
    </p>

    <h2>10. Avoid Improper Political Promotion</h2>
    <p>
      Avoid engaging in inappropriate political promotion within the community. The community is intended for
      constructive exchange, not as a platform for political propaganda. Respect the preferences of other members and
      refrain from forcefully advocating personal or group political stances.
    </p>

    <p>
      We believe that by adhering to these guidelines, we can create an inclusive community rich in diverse
      perspectives. Violations may result in appropriate sanctions, and the specific consequences will depend on the
      severity and frequency of the violations.
    </p>

    <p>
      Thank you for your cooperation in maintaining an open and friendly atmosphere in our community, providing an
      enjoyable communication experience for all members!
    </p>
  </article>
</PageLayout>
