---
import PageLayout from "../../layouts/PageLayout.astro";

const updatedAt = new Date("2024-02-15T07:37:11.631Z");
---

<PageLayout title="Privacy Policy">
  <article class="prose mx-auto py-28">
    <h1>Privacy Policy</h1>

    <p>Last updated at {updatedAt.toLocaleString()}</p>

    <p>
      SmartSheep Studio (referred to as "we," "our," or "the Studio") respects and protects your personal
      privacy. This Privacy Policy is intended to explain our practices regarding the collection, use, sharing, and
      protection of your personal information. Please read this Privacy Policy carefully to understand how we handle
      your personal information.
    </p>

    <h2>1. Information Collection</h2>

    <p>We may collect various types of information, including but not limited to:</p>

    <ul>
      <li>Personal identification information (e.g., name, address, email address, phone number, etc.)</li>
      <li>Device information (e.g., IP address, operating system, browser type, etc.)</li>
      <li>Usage data (e.g., access times, browsing history, clickstream data, etc.)</li>
    </ul>

    <p>We may collect information through various methods, including:</p>

    <ul>
      <li>Information you provide (e.g., account registration, form submissions, etc.)</li>
      <li>Automatically collected information (e.g., through Cookies, Web Beacons, etc.)</li>
    </ul>

    <h2>2. Information Use</h2>

    <p>We may use your personal information for various purposes, including:</p>

    <ul>
      <li>Providing requested products or services</li>
      <li>Processing transactions and payments</li>
      <li>Sending relevant notifications</li>
      <li>Providing customer support and services</li>
      <li>Improving our products and services</li>
    </ul>

    <h2>3. Information Sharing</h2>

    <p>We may share your personal information with third parties, including but not limited to:</p>

    <ul>
      <li>Business partners</li>
      <li>Third-party service providers</li>
      <li>When required by law or government agencies</li>
    </ul>

    <h2>4. Information Security</h2>

    <p>
      We will take reasonable security measures to protect your personal information from unauthorized access, use, or
      disclosure. However, please note that no method of transmission over the internet is 100% secure.
    </p>

    <h2>5. Changes to Privacy Policy</h2>

    <p>
      We reserve the right to modify this Privacy Policy at any time. The updated policy will be posted on our website
      and will become effective upon posting. Please check our Privacy Policy regularly for updates.
    </p>

    <h2>6. Contact Us</h2>

    <p>If you have any questions or concerns about our Privacy Policy, please contact us at:</p>

    <address>alphabot@smartsheep.studio</address>

    <p>Thank you for reading our Privacy Policy.</p>
  </article>
</PageLayout>
