---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="招贤纳士">
  <article class="prose mx-auto py-28">
    <h1>招贤纳士</h1>

    <p>現在、弊社では新規メンバーの募集は行っておりませんし、採用の予定もございません。</p>

    <p>
      Si desea unirse a nuestro estudio y contribuir a la industria del código abierto, le recomendamos que envíe una
      solicitud de extracción directamente a nuestro proyecto.
    </p>

    <p>
      Unser Mie Repo ermöglicht es jedem Benutzer mit Goatpass, das Repository zu forken und Commits und Pull Requests
      zu erstellen.
    </p>

    <p>
      Однако, если вы действительно хотите стать частью нас, вы можете попытаться получить наш флаг набора, выполнив
      следующие испытания.
    </p>

    <pre>RG9pIHNlIG5hyJl0ZSwgZG9pIHNlIG5hyJl0ZSB0cmVpLCB0cmVpIHNlIG5hyJl0ZSB0b2F0ZSBsdWNydXJpbGU</pre>

    <p>
      ಮೇಲಿನ ಸ್ಪಷ್ಟ ಪಠ್ಯವನ್ನು ಯಾವುದೇ ವಿಧಾನದಿಂದ ಪಡೆಯಿರಿ ಮತ್ತು ಅದನ್ನು ಮತ್ತು ನಿಮ್ಮ ರೆಸ್ಯೂಮ್ ಅನ್ನು ನಮ್ಮ ಆಲ್ಫಾಬಾಟ್ ಇಮೇಲ್‌ಗೆ
      ಕಳುಹಿಸಿ.
    </p>

    <p>
        Bientôt, un de nos spécialistes vous contactera!
    </p>
  </article>
</PageLayout>
